<!--Navegacion-->
<nav class="main-nav">
    <div class="div-logo"><img src="/img/logo.png" class="logo" alt="Logo LIAT-ER" height="80" width="80"></div>
    
    <ul>
            <li> <a href="/"> <i class="fas fa-charging-station fa-lg"></i> Inicio</a></li>
            <li> <a href="/estacion"> <i class="fas fa-cloud-sun fa-lg"></i> Estación meteorológica</a></li>
            <li> <a href="/plantas"> <i class="fas fa-solar-panel fa-lg"></i> Plantas</a></li>
            <li> <a href="/bases">  <i class="fas fa-network-wired fa-lg"></i> Bases externas</a></li>
    </ul>
</nav>