<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{{title}}}</title>
    <!--Font Aweson icons-->
    <script src="https://kit.fontawesome.com/7a8b310ce4.js"></script>
    <!--CSS estilos-->
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <div class="wraper">

        <!--Navegacion-->
        <nav class="main-nav">
            <div class="div-logo"><img src="/img/logo.png" class="logo" alt="Logo LIAT-ER" height="80" width="80"></div>
            
            <ul>
                    <li> <a href="/"> <i class="fas fa-charging-station fa-lg"></i> Inicio</a></li>
                    <li> <a href="/estacion"> <i class="fas fa-cloud-sun fa-lg"></i> Estación meteorológica</a></li>
                    <li> <a href="/plantas"> <i class="fas fa-solar-panel fa-lg"></i> Plantas</a></li>
                    <li> <a href="/bases">  <i class="fas fa-network-wired fa-lg"></i> Bases externas</a></li>
            </ul>
        </nav>

        {{{body}}}

        <!--Footer-->

        <footer>
            <p>LIAT-ER 2020</p>
        </footer>

        <!--Wraper ends-->
    </div>

</body>
</html>